#event-container {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
}

#event-container header {
    margin-top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#event-container header a {
    color: #FFF;
    text-decoration: none;
    margin-left: 700px;    
    display: flex;
    align-items: center;
}

#event-container .event-info {
    margin: 40px auto;
    padding: 64px;
    max-width: 1100px;
    background: #FFF;
    border-radius: 8px;    

    display: flex;
    flex-direction: column;
}

#event-container .event-info img {        
    width: 50%;        
    resize: both;
    border-radius: 10;
    margin-top: 32px;
    margin-left: 250px;
}

#event-container .event-info h1 {
    font-size: 32px;
}

#event-container .event-info p{
    margin-top: 10px;
    font-size: 18px;    
    line-height: 32px;
}

#event-container .event-info fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
    margin-left: 100px;
}

#event-container .event-info legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#event-container .event-info .field-group {
    flex: 1;
    display: flex;
}

#event-container .event-info .field {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#event-container .event-info .field input{
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
    width: 100%;
}

#event-container .event-info .field label {
    font-size: 14px;
    margin-bottom: 8px;
}

#event-container .event-info .field :disabled {
    cursor: not-allowed;
}

#event-container .event-info .field-group .field + .field {
    margin-left: 24px;
}

#event-container .event-info .field-group input + input {
    margin-left: 24px;
}

#event-container .event-info button:hover {
    background: #A0A0B2;
    color: #FFF;
}

#event-container .event-info .delete-button{
    position: absolute;
    align-self: flex-end;
    margin-top: 0px;
    border: 0;
    width: 5%;
}

#event-container  .event-info .update-link {    
    font-size: 16px;
    width: 20%;
    color: #1393f6;
    background: var(--primary-color);
    border-radius: 8px;        
    font-weight: bold;        
    border: 0;
    align-self: flex-start;
    margin-top: 40px;    
    transition: background-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#event-container .event-info  .list-ticket {
    display: grid;
    width: 100%;
    list-style: none;
}

#event-container .event-info  .list-ticket li{
    margin-top: 20px;
    display: flex;    
    width: 110%;
    margin-bottom: 20px;
    align-items: center;    
    align-self: flex-end;
}

#event-container .event-info  .list-ticket li strong{
    display: block;
    color: #41414d; 
    margin-left: 150px;
    margin-top: 10px;
}

#event-container .event-info  .list-ticket li p + strong{
    margin-left: 100px;    
}

#event-container .event-info .list-ticket li p{
    color: #41414d;
    line-height: 21px;
    font-size: 16px;
    margin-left: 10px;
}    

#event-container .event-info .list-company {
    display: flex;
    width: 100%;
    list-style: none;
}

#event-container .event-info .list-company  li {    
    margin-top: 20px;    
    margin-bottom: 20px;
}

#event-container .event-info .list-company  li + li{
    margin-left: 60px;    
}

#event-container .event-info .list-company li strong{
    display: block;    
    color: #41414d; 
    margin-top: 10px;
}

#event-container .event-info .list-company li p{
    color: #41414d;
    line-height: 21px;
    font-size: 14px;
}