.event-container {
    width: 100%;
    max-width: 1500px;
    padding: 0 60px;
    margin: auto;
}


.event-container  header {
    display: flex;
    align-items: center;
}

.event-container  header div{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.event-container  header img {
  height: 150px;
}

.event-container  header h1 {
    font-size: 24px;
    color: #FFF;
    margin-top: 150px;
  }

.event-container  header a {
  width: 100%;
  border-radius: 4px;
  background: #1393f6;
  color: #FFF;  
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.2s;  
  display: flex;
  align-items: center;        
  text-decoration: none;
}
.event-container .event-info {
    display: flex;
    width: 90%;
    list-style: none;
    margin: auto;
    margin-bottom: 40px;    
    margin-top: 40px;
    margin-left: 170px;  
}

.event-container .event-info li{
    background: #FFF;
    padding: 18px;
    border-radius: 8px;
    position: relative;
    width: 80%;
}

.event-container .event-info li .delete-button{
    position: absolute;
    right: 4px;
    top: 10px;
    border: 0;
    width: 10%;
}

.event-container .event-info li button:hover{
    opacity: 0.8;
}

.event-container .event-info li strong{
    display: block;
    margin-bottom: 10px;
    color: #41414d;    
}

.event-container .event-info li p + strong{
    margin-top: 20px;
}

.event-container .event-info li p{
    color: #41414d;
    line-height: 21px;
    font-size: 16px;
}

.event-container  .event-info li a {
    width: 50%;
    color: #41414d;
    font-size: 16px;
    margin-top: 15px;    
  }

.event-container .content .container-date, .container-time {
    display: flex;          
    justify-content: space-between;    
    margin-bottom: 8px;
}

.event-container .content .titles{    
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.event-container .content .titles strong{    
    font-size: 14px;
    color: #41414d;
    line-height: 21px;
}

.event-container .event-info li .update-link {    
    color: #41414d;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;        
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;    
    width: 20%;
    margin-bottom: 0px;
}

.event-container .event-info li .list-ticket {
    display: grid;
    width: 100%;
    list-style: none;
}

.event-container .event-info li .list-ticket li{
    display: flex;    
    width: 100%;
}

.event-container .content .event-info li .list-ticket li strong{
    display: block;
    margin-top: 0px;
    color: #41414d; 
}
.event-container .event-info li .list-ticket p + strong{
    margin-left: 50px;
}

.event-container .event-info .list-ticket li p{
    color: #41414d;
    line-height: 21px;
    font-size: 16px;
    margin-left: 5px;
}    

.event-container .event-info li .list-company {
    display: flex;
    width: 100%;
    list-style: none;
}
