.company-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}


.company-container .content{
    width: 100%;
    padding: 40px;
    background: #1393f6;
    border-radius: 8px;
    display: flex;
    margin-left: 80px;
}

.company-container .content section{
    width: 100%;
    max-width: 380px;
}

.company-container .content section h1{
    margin: 20px 0 20px;
    font-size: 32px;    
    color: #FFF;
}

.company-container .content section p {
    font-size: 18px;
    color: #FFF;
    line-height: 32px;
}

.company-container ul {
    display: flex;
    width: 50%;
    list-style: none;
    margin: auto;
    margin-bottom: 0px;
    margin-right: 0px;
}

.company-container ul li{
    background: #FFF;
    padding: 18px;
    border-radius: 8px;
    position: relative;
    width: 80%;
}

.company-container ul li button{
    position: absolute;
    right: 4px;
    top: 10px;
    border: 0;
    width: 10%;
}

.company-container ul li button:hover{
    opacity: 0.8;
}

.company-container ul li strong{
    display: block;
    margin-bottom: 10px;
    color: #41414d;    
}

.company-container ul li p + strong{
    margin-top: 15px;
}

.company-container ul li p{
    color: #41414d;
    line-height: 21px;
    font-size: 16px;
}

.company-container  ul li a {
    width: 50%;
    color: #41414d;
    font-size: 16px;
    margin-top: 20px;    
  }