.eventupdate-container {
    width: 100%;
    max-width: 1120px;
    height: 90vh;
    margin-left: 200px;
    display: flex;    
    align-items: center;
    justify-content: center;
}

.eventupdate-container .content{
    width: 100%;
    padding: 40px;
    background: #1393f6;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eventupdate-container .content section{
    width: 100%;
    max-width: 380px;
}

.eventupdate-container .content section h1{
    margin: 40px 0 20px;
    font-size: 32px;    
    color: #FFF;
}

.eventupdate-container .content section .detail-link {    
    color: #FFF;
    background: #1393f6;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;        
    text-decoration: none;
    font-weight: 500;  
    width: 20%;
    margin-bottom: 0px;
}

.eventupdate-container .content form{
    width: 100%;
    max-width: 450px;   
    margin-top: 50px; 
}

.eventupdate-container .content form input{
    margin-top: 8px;
    width: 80%;
}

.eventupdate-container .content form h1{
    color: #FFF;
    margin-top: 8px;    
}

.eventupdate-container .content form .input-group{
    display: flex;
}

.eventupdate-container .content form .input-group input + input{
    margin-left: 8px;
}

.eventupdate-container .content .container-date, .container-time{
    display: flex;          
    margin-left: 10px;    
}

.eventupdate-container .content .container-time input{
    width: 60%;
    margin-right: 40px;
}

.eventupdate-container .content .container-date input{    
    margin-right: 10px;
}

.eventupdate-container .content .titles{    
    display: flex;
    justify-content: space-between;
}

.eventupdate-container .content .titles h1{    
    font-size: 16px;
    margin-right: 110px;
}

.eventupdate-container .content form .select-input{
    margin-top: 8px;
    width: 80%;
}

.eventupdate-container .content form textarea{
    margin-top: 8px;
    width: 80%;
}

.eventupdate-container .content form .actions{
    display: flex;
    margin-top: 10px;   
}

.eventupdate-container .content form .btnForm{
    font-size: 16px;
    width: 30%;
    margin-left: 120px;
}

.eventupdate-container .content form .btn-ticket{
    width: 35%;
    font-size: 16px;
}

.eventupdate-container .content form .btn-company{
    width: 35%;
    font-size: 16px;
    margin-left: 50px;
}