#eventupdate-container {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;
}

#eventupdate-container header {
    margin-top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#eventupdate-container header a {
    color: #FFF;
    text-decoration: none;
    margin-left: 700px;    
    display: flex;
    align-items: center;
}

#eventupdate-container form {
    margin: 40px auto;
    padding: 64px;
    max-width: 730px;
    background: #FFF;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

#eventupdate-container form img {    
    width: 50%;        
    resize: both;
    border-radius: 10;
    margin-top: 32px;
    margin-left: 150px;
}

#eventupdate-container form h1 {
    font-size: 32px;
}

#eventupdate-container form p{
    margin-top: 10px;
    font-size: 18px;    
    line-height: 32px;
}

#eventupdate-container form fieldset {
    margin-top: 64px;
    min-inline-size: auto;
    border: 0;
}

#eventupdate-container form legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#eventupdate-container form .field-group {
    flex: 1;
    display: flex;
}

#eventupdate-container form .field {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#eventupdate-container form .field input, 
#eventupdate-container form .field textarea{
    flex: 1;
    background: #F0F0F5;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6C6C80;
    width: 100%;
}

#eventupdate-container form .field .select-input {    
    flex: 1;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
}

#eventupdate-container form .field .select-datepicker{
    cursor: pointer;
}

#eventupdate-container form .field label {
    font-size: 14px;
    margin-bottom: 8px;
}

#eventupdate-container form .field :disabled {
    cursor: not-allowed;
}

#eventupdate-container form .field-group .field + .field {
    margin-left: 24px;
}

#eventupdate-container form .field-group input + input {
    margin-left: 24px;
}

#eventupdate-container form .field-check {
    flex-direction: row;
    align-items: center;
}

#eventupdate-container form .field-check input[type=checkbox] {
    background: #F0F0F5;
}

#eventupdate-container form .field-check label {
    margin: 0 0 0 8px;
}

#eventupdate-container form .leaflet-container {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 24px;
}

#eventupdate-container form button:hover {
    background: #A0A0B2;
    color: #FFF;
}

#eventupdate-container  form  .btnForm{
    font-size: 16px;
    width: 30%;
    color: #1393f6;
    background: var(--primary-color);
    border-radius: 8px;        
    font-weight: bold;        
    border: 0;
    align-self: center;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#eventupdate-container form .field-group .field .btn-ticket,
#eventupdate-container form .field-group .field .btn-company{        
    width: 60%;
    font-size: 16px;        
    color: #1393f6;
    background: var(--primary-color);
    border-radius: 8px;        
    font-weight: bold;        
    border: 0;
    align-self: center;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;
}

#eventupdate-container form .field-group .field button:hover {
    background: #A0A0B2;
    color: #FFF;
}

#eventupdate-container header .detail-link{
    color: #FFF;
    background: #1393f6;
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;        
    text-decoration: none;
    font-weight: 500;  
    width: 5%;
    margin-bottom: 0px;
}