.adminContainer {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: auto;
  }

.adminContainer header {
    display: flex;
    align-items: center;
}

.adminContainer header div{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.adminContainer header span {
    font-size: 20px;
    margin-left: 10px;
    color: #FFF;
}

.adminContainer header img {
  height: 150px;
}

.adminContainer  header a {
  width: 200px;
  margin-left: auto;
  margin-top: 0;
}

.adminContainer header button {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;  
  transition: border-color 0.5s;
}

.adminContainer header button:hover {
  border-color: #E02041;
}

.adminContainer h1{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 150px;
    color: #FFF;
    font-size: 20px;
}

.adminContainer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    list-style: none;
    margin-left: 150px;
}

.adminContainer ul li{
    background: #FFF;
    padding: 18px;
    border-radius: 8px;
    position: relative;
    width: 70%;
}

.adminContainer ul li button{
    position: absolute;
    right: 4px;
    top: 10px;
    border: 0;
    width: 10%;
}

.adminContainer ul li button:hover{
    opacity: 0.8;
}

.adminContainer ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;    
}

.adminContainer ul li p + strong{
    margin-top: 32px;
}

.adminContainer ul li p{
    color: #41414d;
    line-height: 21px;
    font-size: 16px;
}